In [1]:
import pandas as pd

In [4]:
train_df = pd.read_csv('./DataSet/train_E6oV3lV.csv', index_col=0)
train_df

       label                                              tweet
id
1          0   @user when a father is dysfunctional and is s...
2          0  @user @user thanks for #lyft credit i can't us...
3          0                                bihday your majesty
4          0  #model   i love u take with u all the time in ...
5          0             factsguide: society now    #motivation
...      ...                                                ...
31958      0  ate @user isz that youuu?ðððððð...
31959      0    to see nina turner on the airwaves trying to...
31960      0  listening to sad songs on a monday morning otw...
31961      1  @user #sikh #temple vandalised in in #calgary,...
31962      0                   thank you @user for you follow

[31962 rows x 2 columns]

In [11]:
train_df.label.unique()

array([0, 1])

In [9]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31962 entries, 1 to 31962
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   label   31962 non-null  int64
 1   tweet   31962 non-null  object
dtypes: int64(1), object(1)
memory usage: 749.1+ KB

In [15]:
train_df.label.isnull().sum()

0

In [19]:
train_df.label.value_counts()

label
0    29720
1     2242
Name: count, dtype: int64

In [7]:
test_df = pd.read_csv('./DataSet/test_tweets_anuFYb8.csv', index_col=0)
test_df

                                                   tweet
id
31963  #studiolife #aislife #requires #passion #dedic...
31964   @user #white #supremacists want everyone to s...
31965  safe ways to heal your #acne!!    #altwaystohe...
31966  is the hp and the cursed child book up for res...
31967    3rd #bihday to my amazing, hilarious #nephew...
...                                                  ...
49155  thought factory: left-right polarisation! #tru...
49156  feeling like a mermaid ð #hairflip #neverre...
49157  #hillary #campaigned today in #ohio((omg)) &am...
49158  happy, at work conference: right mindset leads...
49159  my   song "so glad" free download!  #shoegaze ...

[17197 rows x 1 columns]

In [12]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17197 entries, 31963 to 49159
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   tweet   17197 non-null  object
dtypes: object(1)
memory usage: 268.7+ KB